@font-face {
    font-family: 'Whyte';
    src: url(Whyte-Regular.woff2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Whyte Bold';
    src: url(Whyte-Medium.woff2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Whyte Bolder';
    src: url(Whyte-Bold.woff2);
    font-style: normal;
    font-weight: bolder;
}